<h1>Hi, <%= @user.full_name %></h1>
<p>
  You recently requested to reset your password for your Renty account.
  Click the button below to reset it.
</p>
<p>
  <%= link_to "Reset your Password", @reset_url, style: "display: inline-block; font-size: 18px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #0070c0; padding-top: 15px; padding-bottom: 15px; padding-left: 25px; padding-right: 25px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-bottom: 3px solid #004c83;" %>
</p>
