<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
      h3 { color: #f00; }
      ul { list-style: none; }
    </style>
</head>
<body>
  <%= @user.full_name %>,
  <br/>
  <br/>
  <p>
  Welcome to Renty. We have created an account for you
  <br>
  and you may log in any time with the below link.
  <br>
  <br>
  <a href="http://renty.jonasarguelles.com/login">http://renty.jonasarguelles.com/login</a>
  <br>
  <br>
  Don't hesitate to reach out to me directly if you have questions
  <br>
  and welcome to the Bedrock family!
  <br>
  <br>
  Best,
  <br>
  <br>
  Jonas
  <br>
  <br>
  ---
  <br>
  Jonas Arguelles
  <br>
  CEO of Renty
  <br>
  123.456.3838 (m)
  <br>
  123.456.3888 (o)
  </p>
</body>
</html>
